body{
    text-align: center;
    background: white;
    width: 1500px;
    float: left;
    background: url("imagenes/asdfa-convertido-de-jpg.png") center top / 100% auto no-repeat fixed;
    height: 2000;
    flex-wrap: wrap;
}

.header{
    background: #F0F8FF;
    padding: 5px;
    vertical-align: auto;
    border: 2px solid black;
}

.header h1{
    text-align: center;
}

.menu {
    background: #bdc3c7;
    padding: 5px 15px;
}

.menu ul{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu li{
    list-style: none;
    padding: 5px;
    margin: 0 30    px;
    font: bold 16px verdana;
    display: inline-block;
}

